.container8 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 960px;
  margin: auto;
}

nav {
  padding: 20px;
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(15, 10, 10, 0.5215686275);
}
nav .bars {
  display: none;
}
nav .buttonat-nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
nav .nav-button {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
nav .nav-button:hover {
  opacity: 0.7;
}
nav .logo img {
  width: 150px;
}

.reviews p {
  font-size: 18px;
}
.reviews p span {
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

*::selection {
  background-color: #f5efed;
  color: #0f0a0a;
}

.button {
  border: 2px solid #f5efed;
  padding: 10px;
  border-radius: 200px;
  text-decoration: none;
  color: #f5efed;
  transition: all;
  transition-duration: 0.1s;
  transition-delay: 0.05s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  padding: 10px 15px;
  opacity: 0.7;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

header {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgb(9, 0, 61);
  background-image: url(../../images/background\ image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: -30px;
  color: #f5efed;
}
header p {
  font-size: 22px;
}
header p span {
  text-decoration: underline;
  font-size: 30px;
}

main {
  background: rgb(0, 0, 0);
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(19, 47, 69) 34%, rgb(0, 0, 0) 100%);
  padding-top: 200px;
  padding-bottom: 200px;
  padding-top: 100px;
  background-color: black;
  color: #f5efed;
  line-height: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr 1fr;
  gap: 15px;
}
.grid h1 {
  grid-column: 1/3;
}
.grid .card {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}

.prices {
  padding-top: 200px;
  padding-bottom: 200px;
}

.price-table {
  background-color: #f5efed;
  color: #0f0a0a;
  border-collapse: collapse;
  margin: 25px auto;
  width: 100%;
  text-align: center;
  font-size: 1em;
}
.price-table th {
  background-color: rgb(44, 30, 122);
  color: white;
  font-weight: bold;
  padding: 12px 15px;
}
.price-table td {
  padding: 12px 15px;
}
.price-table ::selection {
  background-color: #0f0a0a;
  color: #f5efed;
}

.title {
  padding-bottom: 15px;
}

.rreshti-2 {
  background-color: rgb(221, 221, 221);
}

.rreshti-4 {
  background-color: rgb(221, 221, 221);
}

.rreshti-6 {
  background-color: rgb(221, 221, 221);
}

.rreshti-8 {
  background-color: rgb(221, 221, 221);
}

.more-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

footer {
  background-color: #2b2b2b;
  color: #ffffff;
}
footer a {
  color: #f5efed;
}

.phone {
  align-self: flex-end;
}

.icon {
  width: 60px;
  transition: all;
  transition-duration: 0.1s;
  transition-delay: 0.05s;
  transition-timing-function: ease-in-out;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90px;
}
.contact-icons .facebook-icon:hover, .contact-icons .instagram-icon:hover, .contact-icons .whatsapp-icon:hover {
  width: 70px;
  opacity: 0.8;
}

iframe {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
}

@media (max-width: 575.98px) {
  nav {
    transition: all;
    transition-duration: 0.1s;
    transition-delay: 0.05s;
    transition-timing-function: ease-in-out;
    justify-content: flex-end;
  }
  nav .bars #hidden-menu {
    display: none;
  }
  nav .bars {
    display: inline-block;
  }
  nav #bars {
    font-size: 30px;
  }
  nav .bars:active, nav .bars:hover #hidden-menu {
    opacity: 1;
    display: block;
    position: fixed;
    right: 35px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
  }
  nav .bars:active li a, nav .bars:hover #hidden-menu li a {
    margin-right: 50px;
    margin-left: -30px;
  }
  nav .bars ul {
    list-style-type: none;
    list-style-position: inside;
  }
  nav .buttonat-nav {
    display: none;
  }
  header {
    background-attachment: scroll;
  }
  .container3 {
    margin-top: -150px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
  .grid h1 {
    grid-column: 1/2;
  }
  .grid .card {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
  }
}
@media (max-width: 767.98px) {
  header {
    background-attachment: scroll;
  }
  .container3 {
    margin-top: -150px;
  }
  iframe {
    width: 100%;
    height: 200px;
    padding: 0px;
  }
}/*# sourceMappingURL=style.css.map */